.loading-product-container {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 4rem 0;
}

.product {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-image-carousel {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

.product-image {
  width: 50%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 50%;
  padding: 0.4rem;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.product-right {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-icon {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  padding: 0.5rem;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  cursor: pointer;
  z-index: 50;
}

.carousel-icon2 {
  position: absolute;
  top: 50%;
  right: 5%;
  color: white;
  padding: 0.5rem;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  cursor: pointer;
  z-index: 50;
}

.carousel-icon:hover, .carousel-icon2:hover {
  background-color: black;
}

.product-right-title {
  margin: 0.4rem 0 2rem 0;
  font-weight: lighter;
  color: #1d1d1d;
}

.product-right-price {
  font-size: 0.8rem;
  margin: 0 0 2rem 0;
}

.product-right-afterpay-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

.product-right-afterpay {
  font-size: 0.7rem;
  margin: 0 0.2rem 0 0;
}

.product-right-afterpay-price {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0.2rem 0 0;
}

.product-right-afterpay-image {
  width: 20%;
}

.product-right-zip-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.product-right-zip-image {
  width: 20%;
  margin: 0 0.2rem 0 0;
}

.product-right-zip {
  font-size: 0.8rem;
}

.product-right-quantity-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 2rem 0;
}

.product-right-quantity-title {
  margin: 0 0.3rem 0 0;
}

.product-right-quantity-icon {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: rgba(220, 220, 220, 0.575);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.4rem 0 0.4rem;
  color: darkred;
}

.product-right-button {
  padding: 0.5rem 0 0.5rem 0;
  border: none;
  color: white;
  background-color: #2b2a2a;
  cursor: pointer;
  font-size: 0.8rem;
}

.product-right-description-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 0 0;
}

.product-right-description-header {
  font-size: 0.7rem;
  margin: 0 0 0.4rem 0;
}

.product-right-description {
  font-size: 0.6rem;
}

@media only screen and (max-width: 955px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-image-carousel {
    width: 100%;
  }
  .product-right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-right-afterpay-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-right-zip-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-right-afterpay {
    text-align: center;
  }
  .product-right-quantity-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-right-button {
    width: 25%;
    min-width: 7rem;
  }
  .product-right-description-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-right-description {
    width: 95%;
    text-align: justify;
  }
}

@media only screen and (max-width: 627px) {
  .product-image {
    width: 100%;
    min-width: 100%;
    height: auto;
  }
  .product-right-title {
    width: 95%;
    text-align: center;
  }
}
/*# sourceMappingURL=product.css.map */